* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}
html {
    font-family: 'Open Sans', sans-serif;
}

/* common head */
.head {
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: space-between;
        margin: 20px;    
}

.img {
    height: 15px;
}

.button {
    background-color: white;
    color:  hsl(322, 100%, 66%);
    border-radius: 15px;
    border: 1px solid hsl(322, 100%, 66%);
    width: 65px;
    height: 20px;
    font-size: 10px;
    
}

/* build common */

.build {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    }

.build h2 {
    font-size: 1.3rem;
}

.build p {
    margin-top: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.build button {
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 15px;
    height: 30px;
    width: 180px;   
}

.build img {
    margin-top: 4rem;
    width: 95%;
}

/* community numbers */
.community img {
    margin-top: 6rem;
    margin-right: 7rem;
    }

.community h1 {
    line-height: 5rem;
    font-size: 3.5rem;
}

/* grow-together */

.gt-above {
    width: 100%;
    }

   .gt-background {
    background-color: hsl(207, 100%, 98%);
    margin-top: -1rem;
   }


.gt {
    width: 100%;
    margin-top: 3rem;
}

.grow h2 {
    margin-top: 3rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.grow p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem
}
.gt-below {
    width: 100%;
}

/* flowing */
.flowing img {
    width: 85%;
    margin-top: 6rem;
}

.flowing h2 {
    margin-top: 3rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.flowing p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem
}

/* users */

.user-above {
    margin-top: 6rem;
    width: 100%;
}
.user-background {
    background-color: hsl(207, 100%, 98%);
    margin-top: -1rem;
}

.user-img {
    width: 85%;
    margin-top: 2rem;
}

.user h2 {
    margin-top: 3rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.user p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem
}

.user-below {
    width: 100%;
}

/* Ready to build */
.ready h2 {
    margin-top: 4rem;
    font-size: 1.8rem;
}
.ready button {
    margin-top: 1.5rem;
    color: white;
    border: 1px solid hsl(322, 100%, 66%);
    background-color: hsl(322, 100%, 66%);
    border-radius: 15px;
    height: 30px;
    width: 180px;
}

/* footing */
.footer {
    color: white;
}
.fot-img {
    width: 100%;
    margin-top: 8rem;
}

.fot-background {
    background-color: hsl(192, 100%, 9%);
    margin-top: -1rem;
}

.footer h2 {
    padding-top: 2rem;
    text-align: left;
    padding-left: 2rem;
}

.footer p {
    padding-top: 0.5rem;
    text-align: left;
    width: 90%;
    padding-left: 2rem;
}

.footer input {
    padding: 3px 70px;
    margin-top: 25px;
    border-radius: 5px;
}

.footer button {
   border: 1px solid hsl(322, 100%, 66%);
   background-color: hsl(322, 100%, 66%);
   padding: 6px 30px;
   border-radius: 8px;
   margin-top: 1rem;
   margin-left: 190px;
   color: white;
}

.huddle-img {
    display: flex;
    margin-left: 2rem;
}

.lorem {
    margin-top: -1.5rem;
}

.phone {
    margin-right: 0rem;
    padding-right: 100px;
    margin-top: 2rem;
    line-height: 2rem;
}
